{% extends 'base.html.twig' %}

{% block body %}
    <h2>Новости</h2>
    {{ article.getName() }}<br>
    Автор: {{ article.getAuthor() }}
    <p>{{ article.getDescription() }}</p>
    {% for page in pages %}
        <a href="/news/{{ page }}">{{ page }}</a>
    {% endfor %}
{% endblock %}
