{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ name }} </h1><br>
    Автор: <i>{{ author }}</i><br>
    {{ description }}<br>
    <br>
    {% for page in pages %}
        <a href="/news/{{ page }}">{{ page }}</a>
    {% endfor %}
{% endblock %}

{% block sidebar %}
    {{ parent() }}<p>Это сайд бар</p>
{% endblock %}
