{# AppBundle namespace #}

<!DOCTYPE html>
<html>
    {# head #}
    <head>
        <meta charset="utf-8">
        <title>{% block title  %}Япрошик{% endblock %}</title>        
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">   
            <link rel="stylesheet" href="{{ asset('css/article_styles.css') }}">  
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    {# body #}
    <body>    
        <div class="upper">
            {# header #}
            <div class="header row">

                <div class="side-container"></div>

                <div class="main-container">
                    <a href="{{ path('show_main') }}">
                        <div class="logo-container row">
                            {#<img class="logo" src="{{ asset('images/logo.png') }}" alt="logo" />#}
                            <div class="owner">
                                <div class="row">
                                    Япрошик
                                </div>
                                Путешествие в Японию
                            </div>
                        </div>
                    </a>
                            
                    {% block navigation %}{% endblock %}
                    
                </div>

                <div class="side-container"></div>

            </div>
            {# middle #}
            <div class="wrapper row">	
                <div class="side-container"></div>	

                <div class="main-container">                            
                    <div class="middle row">
                        {% block body %}{% endblock %}                      
                        {% block sidebar %}{% endblock %}                        
                    </div>  
                </div>                    
            

                <div class="side-container"></div> 
            </div>            
        </div>
                    
        <div class ="space row"></div>
        {# footer #}
        <div class="footer row">
            <div class="foot-border row">
                <div class="side-container"></div>
                <div class="main-container">
                    {% block foot_navigation %}{% endblock %}
                </div>                           
                <div class="side-container"></div>
            </div>         
            <div class="row">
                <div class="side-container"></div>
                <div class="main-container">
                    <div class="copyright">
                        Все права защищены @homelleon 2017
                    </div> 
                </div>
                <div class="side-container"></div>
            </div>
        </div>                    
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>