<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title  %}Япрошик{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/fontawesome/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>    
        <div class="row">
            <a href="{{ path('show_main') }}">
                <div class="header"> 
                    <div class="logo">
                        Лого
                    </div>
                </div>
            </a>
        </div>
        <div class="wrapper row">	
			<div class="side-container"></div>	
			
			<div class="main-container">                            
				<div class="middle row">
					<div class="page">
						<div class="navigation-box">
							<div class="inner">
								<div class="logo-name">
									Япрошик
								</div>
								<div class="navigation">
									<a href="{{ path('show_main') }}">
										<div class="button">Главная</div>
									</a>
									<a href="{{ path('show_about') }}">
										<div class="button">Обо мне</div>
									</a>
									<a href="{{ path('show_photo') }}">
										<div class="button">Фото</div>
									</a>
									<a href="{{ path('show_video') }}">
										<div class="button">Видео</div>
									</a>
									<a href="{{ path('show_contacts') }}">
										<div class="button">Контакты</div>
									</a>
								</div>
							</div>
						</div>
						<div class="content">
							<div class="inner">
                                                            {% block body %}{% endblock %}
							</div>
						</div>	
					</div>
					<div class="sidebar">
							<div class="inner">
                                                            {% block sidebar %}{% endblock %}
                                                        </div>
					</div>
				</div>
			</div>
			
			<div class="side-container"></div>	
			
		</div>			
		<div class="footer row">
			<div class="foot-navigation">
				<a href="{{ path('show_main') }}">Главная</a>
				<a href="{{ path('show_about') }}">Обо мне</a>
				<a href="{{ path('show_photo') }}">Фото</a>
				<a href="{{ path('show_video') }}">Видео</a>
				<a href="{{ path('show_contacts') }}">Контакты</a>				
			</div>
			<div class="copyright">
				Copyright @homelleon 2017
			</div>
		</div>
        {% block javascripts %}
            <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>