{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <div class="inner">
        <div class="welcome">
        Рад вас приветствовать на моем сайте!<br>
        <div class="article-add"><a href=" {{ path("article_create") }}">+</a></div>
        </div>
    </div>
    {% for article in articles %}  
        {% if not article.isDeleted %}
            <div class="inner">
                <div class="article">                
                    <div class="title">
                        {{ article.title }}
                    </div>
                                     
                    <div class="author">
                        Автор: {{ article.author }}
                        <div class="date"> 
                            создано: {{ article.created|date('Y-m-d H:i:s') }} 
                        </div>
                    </div>                    
                     <div class="theme">
                        {{ article.theme }}
                    </div>   
                    <div class="description">
                        {{ article.description }}
                    </div>                      
                    {% if article.isUpdated %}                          
                        <div class="date">
                            отредактировано: {{ article.updated|date('Y-m-d H:i:s') }}
                        </div>
                    {% endif %}  
                </div>
                <div class="article-navigation">
                    <div>
                        <a href="{{ path("show_news", {id: article.id}) }}">
                            <div class="button">
                                Подробнее                                     
                            </div>
                        </a> 
                    </div>

                    <div>
                    <a href="{{ path("show_news", {id: article.id}) }}">
                        <div class="button">
                            Комментировать
                        </div>
                    </a>
                    </div>
                </div>
                <hr>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block sidebar %}
<div class="sidebar">
    <div class="inner">
        Sidebar
    </div>
</div>
{% endblock %}
