{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <div class="inner">
        <a href="{{ path('show_main') }}">Назад</a><br>
        <div class="article">
            <div class="title">
                {{ article.title }}
            </div>
            <div class="image">
                Изображение: {{ article.image.name }}
            </div>
            <div class="author">
                Автор: {{ article.author }}
                <div class="date">
                    создано: {{ article.created|date('Y-m-d H:i:s') }}
                </div>
            </div>
            <div class="description">
                {{ article.description }}
            </div>
            {% if article.isUpdated %}
                <div class="date"> 
                    отредактировано: {{ article.updated|date('Y-m-d H:i:s') }}
                </div>
            {% endif %}
        </div>
        <a href="{{ path('news_edit',{id: article.id}) }}">Редактировать</a><br>
    </div>
{% endblock %}
