{% extends 'BlogBundle::base.html.twig' %}

{% block content %}
    <div class="inner">
        <a href="{{ path('show_main') }}">Назад</a><br>
        <p><h2>{{ article.title }}</h2></p>
        <p>Автор: {{ article.author }}</p>
        <p>{{ article.description }}</p>
        <a href="{{ path('news_edit',{id: article.id}) }}">Редактировать</a><br>
    </div>
{% endblock %}
