{# ----Blogger:BlogBundle:News:news.html.twig----
=================================================
Template to show page with one article detailed #}

{% extends ':Blog:base.html.twig' %}

{% block content %}

    <!-- article -->

    <div class="inner">
        <div class="border">
            <div class="space-between">
                <a href="{{ path('main') }}">
                    <div class="button inner-orange article-navigation go-back">
                        Назад
                    </div>
                </a>
                <div></div>
            </div>
            <div class="article">
                <div class="title">
                    {{ article.title }}
                </div>
                <div class="head-info">
                    <div class="theme">
                        <a href="{{ path('news_sorted', { 'category': 'theme', 'value': article.theme }) }}">
                            #{{ article.theme }}
                        </a>
                    </div>
                    <div class="author">
                        <a href="{{ path('user', { 'username': article.author.username }) }}">
                            Автор: {{ article.author.username }}
                        </a>
                    </div>
                </div>
                <div class="date">
                    создано: {{ article.created|date }}
                </div>
                <div class="image">
                    <img src="{{ asset('uploads/images/' ~ article.image.path) }}">
                </div>
                <div class="description">
                    {{ article.description }}
                </div>
                {% if article.isUpdated %}
                    <div class="date">
                        отредактировано: {{ article.updated|date }}
                    </div>
                {% endif %}
            </div>
            {% block comment_error %}
            {% endblock %}
            <!-- foot navigation -->
            <div class="article-navigation">
                {% if (is_granted('ROLE_MODERATOR')) or (app.user == article.author) %}
                    <a href="{{ path('news_edit',{ 'id': article.id }) }}">
                        <div class="button inner-orange">
                            Редактировать &#10000;
                        </div>
                    </a>
                {% else %}
                    <div></div>
                {% endif %}
                <a href="{{ path('comment_add', { 'id': article.id }) }}">
                    <div class="button inner-orange button-comment">
                        комментировать
                    </div>
                </a>
            </div>
        </div>
    </div>

    <!-- comments -->

    {% block comment_form %}
    {% endblock %}
    {% block comments %}
        {% if article.comments!= null %}
            <div class="inner">
                <div class="border">
                    {% for comment in article.comments %}
                        <div class="article comment">
                            <a href="{{ path('user', { 'username': comment.author.username }) }}">
                                <div class="author">
                                    {{ comment.author.username }}
                                </div>
                            </a>
                            <div class="date">
                                {{ comment.created|date }}
                            </div>
                            <div class="description">
                                {{ comment.content }}
                            </div>
                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}
