{# --Blogger:AdminBundle:Admin:roles.html.twig--
================================================
Template to show list of all roles in data base#}

{% extends "AdminBundle::base.html.twig" %}

{% block content %}
    <p>
        <a href="{{ path("admin") }}">Назад</a>
    </p>
    <a href="{{ path("roles_create") }}">
        <div>&#10010;</div>
    </a>
    <hr>
    {% for role in roles %}
        <div class="space-between">
            <div>
                <a href="{{ path("role", {name: role.name}) }}">
                    {{ role.name }}
                    {{ role.role }}
                </a>
            </div>
            <div>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path("role_delete", {id: role.id}) }}">
                        &#10006;
                    </a>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}

{% block admin_side %}
    Roles side
{% endblock %}
