{# AppBundle namespace #}
    
{% extends "base.html.twig" %}

{% block login %}
    <div class="login">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}            
            <a href="{{ path('user', {username: app.user.username}) }}">
                {% if app.user.userAccount != null %}
                    {% if app.user.userAccount.avatar != null %}  
                        <div class="user button inner-orange">
                            <div class="user__avatar">
                                <img src="{{ asset('uploads/users/' ~ app.user.userAccount.avatar.name) }}"></img>
                            </div>
                        </div>
                    {% else %}
                        <div class="button inner-orange">
                            {{ app.user.username }}
                        </div>
                    {% endif %}                        
                {% else %}                        
                    <div class="button inner-orange">
                        {{ app.user.username }}
                    </div>                        
                {% endif %}
            </a>           
        {% else %}
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <a href="{{ path('login') }}">
                    <div class="button inner-orange">войти</div>
                </a>
            <a href="{{ path('registration') }}">
                <div class="button inner-orange">регистрация</div>
            </a>
            {% endif %}
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('logout') }}">
                <div class="button inner-orange">выйти</div>
            </a>
        {% endif %}
    </div>
{% endblock %}
  