{% extends 'base.html.twig' %}

{% block body %}
    Рад вас приветствовать на моем сайте!<br>
    {% for article in articles %}
        
            <div class="article">
                <h3>{{ article.name }}</h3>
                <p>Автор: {{ article.author }}</p>
                <p>{{ article.description }}</p>  
                <div class="navigation_main_left">
                <a href="{{ path("show_news", {id: article.id}) }}">
                    <div class="button_article">
                        Подробнее                                     
                    </div>
                </a> 
                </div>
                <div class="navigation_main_right">
                <a href="{{ path("show_news", {id: article.id}) }}">
                    <div class="button_article">
                        Комментировать
                    </div>
                </a>
                </div>
            </div>
            <hr>
    {% endfor %}
{% endblock %}
