{# AppBundle namespace #}
    
{% extends "base.html.twig" %}

{% block login %}
    <div class="login">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('user', {username: app.user.username}) }}">
               <div class="button inner-orange">
                    {{ app.user.username }}
                </div>
            </a>
        {% else %}
            {% if is_granted('IS_AUTHENTICATED_ANONYMOUSLY') %}
                <a href="{{ path('login') }}">
                    <div class="button inner-orange">войти</div>
                </a>
            <a href="{{ path('registration') }}">
                <div class="button inner-orange">регистрация</div>
            </a>
            {% endif %}
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('logout') }}">
                <div class="button inner-orange">выйти</div>
            </a>
        {% endif %}
    </div>
{% endblock %}
  